# BOT_TOKEN: Telegram Bot Token from @BotFather
BOT_TOKEN="YOUR_BOT_TOKEN"

# ADMIN_IDS: Comma-separated list of Telegram User IDs
ADMIN_IDS="7618889413,5541894729"

# CHANNELS: Comma-separated list of channel usernames (without @)
CHANNELS="lyceumverse,Mirzokhid_blog"

# PLATFORM_URL: The URL of the platform to redirect users to
PLATFORM_URL="https://iedmock.vercel.app"
