# BOT_TOKEN: Telegram Bot Token from @BotFather
BOT_TOKEN="8317503440:AAF0tQz7Qv7GEqg3UcIEwDIGtVF9sXrYnAw"

# ADMIN_IDS: Comma-separated list of Telegram User IDs
ADMIN_IDS="7618889413,5541894729"

# CHANNELS: Comma-separated list of channel usernames (without @)
CHANNELS="Lyceumverse,Mirzokhid_blog"

# PLATFORM_URL: The URL of the platform to redirect users to
PLATFORM_URL="https://iedmock.vercel.app"

# DATABASE_URL: PostgreSQL connection string (e.g., postgresql://user:password@host:port/dbname)
DATABASE_URL=""
